[2020-04-06 16:35] calclavia opened #1 "Sequence Masking"
Often in training we need to mask out pad tokens within the attention module. Is there a plan to add support for this?

[2020-04-06 17:07] lucidrains commented on #1
@calclavia Hi Henry! That's #3 on my todo list! It's tricky because I have to account for reordering with the sorting matrix. Feel free to keep this open until it is resolved

[2020-04-06 18:18] blizda opened #2 "RuntimeError: range of [nan, nan] is not finite"
Model outputs falling to nan during training. I trying to change learning rate and using gradient clipping, but model outputs steel falling to nan.
First time, model with lr=0.001 failed to nan after 30 training steps
Second time, model with lr=0.0005 failed to nan after 140 training steps
When I training Reformer with exactly same parameters, training going normal

part of my training script, pro

[2020-04-06 20:28] lucidrains commented on #2
@blizda Hi Danil! Thanks for trying this out! This is all early work, so expect it to be rough around the edges, for at least another week. (Or if I discover some insurmountable challenge, but so far so good)

I have also noticed instability during training, but have found that the settings `non_permutative = True` and `temperature = 1` make things a bit more stable. Could you try again with those

[2020-04-06 20:45] blizda commented on #2
Thanks, I will try.
I allso change optimiser to SGD and after more then 600 steps traning going fine.

[2020-04-06 20:49] lucidrains commented on #2
@blizda perhaps it needs a warmup!

[2020-04-08 18:13] Hellisotherpeople opened #3 "Post pre-trained models please"
Doing so might make your # of github stars go up 10-100x if it's actually competitive with current models.

[2020-04-08 19:46] lucidrains commented on #3
@Hellisotherpeople Hi Allen! Despite having some unexpected publicity, I want to let you know this is still exploratory work lol. I do not really care about stars, just that I am fully sure I can make it perform as well and as flexibly as a plain vanilla transformer. Early results seem promising, so stay tuned!

[2020-04-09 14:44] blizda opened #4 "Training falling on version 0.0.14 and 0.0.15"
Hi, I testing training model on new versions of repo, and I have some troubles with 0.0.14 and 0.0.15.
On 0.0.14, model always return nan on forward pass, version 0.0.15 lead to CUDA error:

[code]

Full error listing:

[code]

Also, version 0.0.11(and all other version from 0.0.8) work stable.

[2020-04-09 15:04] blizda commented on #4
I was testing 0.0.12(commit 059a11fba3b699cf3f1ac25ea6a87faffb879609), it also working ok.

[2020-04-09 15:12] blizda commented on #4
With commit 4d0d8f570beb03b577e23bccd2e42470ac8fe3d5 network failed to nan on the first step in forward pass, fore something reason

[2020-04-09 16:20] blizda commented on #4
Ok, seems I found root of problem in 4d0d8f570beb03b577e23bccd2e42470ac8fe3d5 If just replace LeakyReLU in SortNet and CausalSortNet to casual ReLU, problem will resolve

[2020-04-09 16:47] lucidrains commented on #4
@blizda ohh yes, you are right, it's been fixed in the latest version, my bad lol

how is this architecture working out for you? it seems to be learning for me, but the generation isn't perfect, mainly because of the bucketing

[2020-04-09 16:48] lucidrains commented on #4
i'm still trying some new ideas, including replacing the sortnet with a single layer attention, so expect things to break more lol, thanks for reporting

[2020-04-09 17:03] lucidrains commented on #4
fixed in https://github.com/lucidrains/sinkhorn-transformer/commit/c3bf5ff5c957f32e48730842e7dfa2807471d60d

[2020-04-09 17:03] #4 closed, assigned to nobody

[2020-04-09 17:06] #2 closed, assigned to nobody

[2020-04-09 17:06] #3 closed, assigned to nobody

[2020-04-09 17:12] blizda commented on #4
From perfomanse point of view, model works 3x faster then reformer. Only this fing - great improvment.
Seems like model converge slowly, but it not a big deal.
Also adam work fine with modele, just need to set very small lr about 0.0001(most likely this is the reason why the model converges more slowly)

[2020-04-09 17:31] lucidrains commented on #4
@blizda very cool! you should try some of the other settings. i'll ping you to try the attention sortnet when it's done. i think it'll be a big improvement

[2020-04-09 17:48] blizda commented on #4
Cool, thanks

[2020-04-10 18:49] lucidrains commented on #4
@blizda it is done! if you'd like to try it, just use the flag `attn_sort_net = True`. I also recommend turning on `non_permutative = True`. Let me know if it works or doesn't work!

[2020-04-10 20:16] blizda commented on #4
Thanks, but when I try, I get error

[code]

[2020-04-10 20:56] blizda commented on #4
Ok I fix this error simply replace 222 string to
```python R = torch.zeros(bh, self.n_sortcut, buckets).to(q).scatter_(2, indices, values)```
But, after this training falling, cose outputs failing to nan in first pass

[2020-04-10 21:09] blizda commented on #4
Strange issue. Seems like gradient blows in first step, independent on lr, optimizer or clipping. If just set ```python attn_sort_net = False``` - all going normal

[2020-04-10 21:15] blizda commented on #4
Ok, I find root of this issue. Just add LeakyReLU() like activation function on the last step of CausalAttentionSortNet forward pass

[code]

[2020-04-10 21:19] blizda commented on #4
I trying to add ReLU in CausalAttentionSortNet, it not helped at all, LeakyReLU too

[2020-04-10 22:53] lucidrains commented on #4
@blizda ohhh i know the issue lol ok will fix

[2020-04-10 23:14] lucidrains commented on #4
@blizda  should be all fixed!

[2020-04-10 23:52] blizda commented on #4
Thanks, now work fine, but better replace
[code]
to
[code]
It affect to half-precision trending, somehow, and if using first variant broke it

[2020-04-11 00:56] lucidrains commented on #4
@blizda thank you for the advice! :D

[2020-04-11 15:59] blizda commented on #4
lol
[code]
also broke half-precision training, but if replace to
[code]
fp16 works fine, but I not sure, how it code will work on TPU

[2020-04-11 18:03] lucidrains commented on #4
@blizda put in another patch!

[2020-04-14 00:09] lucidrains commented on #1
@calclavia I think it's done! You can try it by passing in your mask as the `input_mask` keyword

[2020-04-14 00:24] calclavia commented on #1
Thanks!

[2020-04-14 00:24] #1 closed, assigned to nobody

[2020-04-14 04:27] lucidrains commented on #4
@blizda are you using pytorch lightning for the TPU support?

[2020-04-14 09:09] blizda commented on #4
No, just PyTorch-xla. Training goes on 0.0.8 version with minimum code change and without any problem.

[2020-04-14 16:26] lucidrains commented on #4
@blizda that's great to hear!

[2020-04-14 16:26] lucidrains commented on #4
@blizda thank you for the awesome pull request! I learned something from it

[2020-04-14 20:47] lucidrains commented on #4
@blizda I was actually wondering if you would be willing to share the script you are using for training on TPU? I just spent some time trying to get it to work with pytorch lightning, but ran into an "Unknown Device" error :(

[2020-04-14 21:30] blizda commented on #4
You can find the minimum code example [here](https://github.com/pytorch/xla/issues/1881)
Unfortunately, I can share a full-fledged script only when in the USA will be deep night

[2020-04-14 22:35] lucidrains commented on #4
@blizda thank you!

[2020-04-15 13:56] timsoraro opened #8 "Do I need to pad?"
Excuse me for the noob question, I have sequences of different lengths and I use:
[code]

Do I need to pad as in this example or not?
[code]

[2020-04-15 14:58] timsoraro opened #9 "RuntimeError: range cannot be used as a value"
Thanks for this repo, I get it's rough at the start. I get this error when trying to train the wikitext example:
[code]

I get the same error with/without deepspeed. The error above is without.

[2020-04-15 15:07] lucidrains commented on #9
@timsoraro oops, put out a quick fix for now, my bad!

https://github.com/lucidrains/sinkhorn-transformer/commit/3d2c3dba3c0365c5958c86b13a4491a1efaf3ce3

[2020-04-15 15:14] lucidrains commented on #8
@timsoraro oh man, I wished I had finished this before you came! I am enroute to having this be abstracted away just like reformer-pytorch (bringing in the AutoPadder class). I'll try to get it done and tested by tonight

basically, Sinkhorn comes with the drawback that it is fixed to a certain number of buckets, and after toying around with it, I realized it is unable to generalize to different s

[2020-04-15 15:31] timsoraro commented on #8
Haha, that would be awesome, thanks a lot!

EDIT: R.

[2020-04-16 06:11] timsoraro commented on #8
Btw, I sent you an email to your Gmail account (:

[2020-04-16 16:40] lucidrains commented on #8
@timsoraro got your email :) I'll try to have this done by end of the week!
<img width="782" alt="Screen Shot 2020-04-15 at 7 34 53 PM" src="https://user-images.githubusercontent.com/108653/79482839-3b197e00-7fc6-11ea-8ac0-de88dcac4251.png">

[2020-04-16 22:28] lucidrains commented on #8
@timsoraro I think it is ready in `0.5.1`, ahead of schedule!

[2020-04-17 18:14] timsoraro commented on #8
@lucidrains Awesome, going to test (:

Do I still need to pad using this line?
[code]

[2020-04-17 18:24] lucidrains commented on #8
@timsoraro no, you shouldn't have to! the AutoRegressive class wraps it all in the Autopadder, which takes care of all padding issues for you

Edit - including masks as well!

[2020-04-18 11:23] timsoraro commented on #8
Great (:

[2020-04-18 11:23] #8 closed, assigned to nobody

[2020-04-18 13:34] timsoraro commented on #9
:)

[2020-04-18 13:34] #9 closed, assigned to nobody

[2020-04-18 13:36] timsoraro opened #11 "AssertionError: different bucketing for key/values for causal reordering not supported yet"
[code]

[2020-04-18 13:52] timsoraro commented on #11
I've tried setting `kv_bucket_size=128,` but it didn't work.

[2020-04-18 17:20] lucidrains commented on #11
@timsoraro I'm still working on that, almost done! the causal masking is tricky..

[2020-04-18 17:49] lucidrains commented on #11
@timsoraro if you keep it the same as `bucket_size`, it should work fine!

Edit - oh, I had a bug :( https://github.com/lucidrains/sinkhorn-transformer/commit/baa576355e9b7fbc5aec62578a39c56cba8a67bf sorry about that

[2020-04-18 21:31] timsoraro commented on #11
Gone 👍

[2020-04-18 21:31] #11 closed, assigned to nobody

[2020-04-18 21:32] timsoraro opened #12 "AttributeError: 'ProjectInOut' object has no attribute 'pad_to_bucket_size'"
Hah, doing QA. I get this error now:

[code]

[2020-04-18 21:46] lucidrains commented on #12
@timsoraro i'm embarrassed lol https://github.com/lucidrains/sinkhorn-transformer/commit/5f79052acd2f4ffd411a6375b72c45ebd74ef5ab hopefully last one

[2020-04-19 08:50] timsoraro commented on #12
I wonder why I get this error now:

[code]

And using the code from the deepspeed example (non-deepspeed seems to work):

[code]

[2020-04-19 17:19] lucidrains commented on #12
@timsoraro hmm i'm not too sure, it looks like a deepspeed related error

could you try the same `ds_config.json` settings you did for reformer?

[2020-04-19 18:57] timsoraro commented on #12
Sorry, a problem with my `ds_config.json`! Left one parameter blank. Closing this, thanks :)

[2020-04-19 18:57] #12 closed, assigned to nobody

[2020-04-20 07:07] epetros commented on #4
Would be great to test this in TPU, @blizda can you please share the full-fledged script? How is the text generation quality so far, comparable to gpt2?
 Thanks

[2020-04-20 09:53] blizda commented on #4
I don't try to use this model for text generation, I only experiment with bert-like LM.
I also pregenerate dataset before training.
This script was test only with old version of this package

[code]

[2020-04-20 13:55] epetros commented on #4
Thanks!

[2020-04-30 09:05] rouniuyizu opened #13 "axial positional embedding"
Hi, I noticed your implementation of so called "AxialPositionalEncoding" and am keen to understand further about it. Somehow I cannot find this trick mentioned in the original reformer/sinkhorn paper (I could have missed)... Would you pls enlighten me where it's rooted from? Thank you,

[2020-05-01 02:50] lucidrains commented on #13
@rouniuyizu A fellow researcher friend actually told me about it when I was trying to perfect my Reformer implementation, and I found the results really compelling so I have added it to this repository as well. I believe people have been using this kind of positional embedding for a while, but you can find a more detailed description of the rationale behind the technique in this paper here https:/

[2020-05-01 06:57] py4 opened #14 "dimension mismatch in context-only attention when seq_in and seq_out have different lengths"
I'm trying to train a toy task (x -> xx like "abc" to "abcabc"):
[code]
The problem is in https://github.com/lucidrains/sinkhorn-transformer/blob/64665b76da55918722310a21ffc17d7185c486f7/sinkhorn_transformer/sinkhorn_transformer.py#L395 you are doing this:
[code]

In the case of context-only attention layer in the decoder, here is the size of q,k,v:
[code]
And you are reshaping k,v by [4, 32, 512]

[2020-05-01 15:42] lucidrains commented on #14
@py4 ahh yes, you are right! fixed in a patch https://github.com/lucidrains/sinkhorn-transformer/commit/18f6200847bd20838fccf1d043361f72ff738b01 could you send me the full script you are training on? I'd like to iron out any remaining issues here today, if there are any

[2020-05-01 16:47] lucidrains commented on #14
@py4 I think I fixed the bug in the latest commit! Thank you for being one of my early testers of this library

[2020-05-02 01:20] py4 opened #15 "generation problem in a toy task"
Here is the full script for my toy task (x -> xx like "abc" to "abcabc")

[code]

After a few steps the loss becomes practically zero. I checked the logits during the training and they seem to be OK. but during generation phase, the model outputs this pattern: "x,x,x,x,x,y,y,y,y,y" like "aaaabbbb" instead of "abcdabcd". I was wondering what might be the underlying issue. Do you got any idea?

[2020-05-02 01:46] py4 commented on #14
Tnx for your fast response :)

[2020-05-02 01:46] #14 closed, assigned to nobody

[2020-05-02 02:32] rouniuyizu commented on #13
Thank you!

[2020-05-02 02:32] #13 closed, assigned to nobody

[2020-05-02 04:39] lucidrains commented on #15
@py4 Hello again! Thank you, this is all very helpful.

Could you try upgrading to the latest version, and then, on the line where you return the loss, add a `randomize_lengths=True` keyword?

[code]

Also, please try increasing your batch size

[2020-05-02 04:39] lucidrains commented on #15
@py4 I will explain to you what is going on with this specific architecture, if the experiment succeeds on your end!

[2020-05-04 23:08] py4 commented on #15
it seems it's working and validation loss is fluctuating between 0.4 and 0.8 (3000 steps). Can you explain me how is that related to this architecture? And by the way it is strange to me that the loss does not get closer to zero. 0.5 is still not acceptable for a copy task

[2020-05-04 23:38] kl0211 opened #17 "TypeError exception in AxialPositionalEncoding when using DataParallel"
Hello,

I want to run SinkhornTransformerLM using multiple GPUs, so I'm wrapping the model into torch.nn.DataParallel. However, when I do this, I get an exception:

[code]

Looking at the code, it would seem that `self.weights` does not get populated. To reproduce this error, I took the first example in README.md and changed
[code]
to
[code]

[2020-05-05 00:00] lucidrains commented on #17
Nice! I'll fix this by tomorrow! (Both of my GPUs are in use at the moment) What are you using it for?

[2020-05-05 00:31] lucidrains commented on #15
@py4 this method for sparse attention relies on bucketing the queries and keys, and then learning to sort buckets of keys to buckets of queries through a small linear network. the problem comes with the sorting network; when trained on fixed length, it seems to have trouble generalizing to buckets half-filled with padding

[2020-05-05 00:35] lucidrains commented on #15
so basically, the fix I found was to simply randomly truncate and pad the lengths of the sequence going into the causal network

[2020-05-05 00:41] lucidrains commented on #17
@kl0211 oh no https://github.com/pytorch/pytorch/issues/36035 No worries, I'll think of something

[2020-05-05 01:01] lucidrains commented on #17
@kl0211 can you upgrade to the latest version and try again? I committed in a hacky solution https://github.com/lucidrains/sinkhorn-transformer/commit/38fe17e3d79db27f60c7d36ab47442bc3002c250

[2020-05-05 02:04] py4 commented on #15
I don't get it. The test length is still equal to train length. And the decoder is also causal. Why should it be an issue?

[2020-05-05 02:50] lucidrains commented on #15
The test length is equal, but when you generate, you actually iterate token by token. So the length goes from 1 token -> test length token.

[2020-05-05 02:57] py4 commented on #15
But the causality in the decoder should make the model learn this

[2020-05-05 03:04] lucidrains commented on #15
@py4 I believe the issue is with the sorting net, but I'm trying to figure this out as well. Let me know if you find the root cause!

[2020-05-05 03:06] py4 commented on #15
@lucidrains  Thanks. And generally I think there is still something wrong as the loss is still high for such a simple task and given the fact that input size is small

[2020-05-05 03:16] lucidrains commented on #15
@py4 yea agree, though the last time I tried generating text, I was surprised it came out well. so I have to admit I am not entirely sure what's going on. I definitely have noticed for these toy problems, the generation, which should be perfect, isn't.

[2020-05-05 03:16] lucidrains commented on #15
my hope is I get more eyeballs on the project and perhaps someone (maybe you) will think of something lol

[2020-05-05 03:17] py4 commented on #15
You have very good repos (this and the reformer one) but I strongly suggest running toy tasks when implementing a paper. They catch bugs very well specially for seq2seq. The rule of thumb is that a seq2seq should be able to learn "x -> x" or "x -> xx" perfectly.

[2020-05-05 03:22] kl0211 commented on #17
@lucidrains I tried your latest commit. That let the example run to completion. However, I then tried running it on the [enwik8_simple script](https://github.com/lucidrains/sinkhorn-transformer/blob/master/examples/enwik8_simple/train.py) and I got a different error:

[code]
Seems like AxialPositionalEncoding is not properly replicating across different GPUs.

I'm looking into using Sinkhorn (or R

[2020-05-05 03:25] lucidrains commented on #15
thanks! it's been a learning experience

[2020-05-05 03:43] lucidrains commented on #17
@kl0211 oh ok, I put in a temporary fix, should work now!

very cool! I'd like to know how that turns out!

[2020-05-05 03:43] lucidrains commented on #15
ok, closing issue. do let me know if you figure something out about this generation problem!

[2020-05-05 03:43] #15 closed, assigned to nobody

[2020-05-05 04:28] lucidrains commented on #15
@py4 make sure you experiment with greater than 1 head! you should be able to get a loss < 0.4

[2020-05-05 17:13] lucidrains commented on #17
@kl0211 you should try Deepspeed. DataParallel actually doesn't give you a very big speed up

[2020-05-05 17:17] kl0211 commented on #17
@lucidrains, Looks like your fix got it to work! Thanks a bunch!

Cool! I'll see if I can try it out. Thanks for the tip!

[2020-05-05 17:28] lucidrains commented on #17
@kl0211 do share your results! this repository is still in the exploratory phase!

[2020-05-05 19:45] #17 closed, assigned to nobody

[2020-05-11 19:21] jsmith1915 opened #18 "Performance of the different attention variants in the repo"
Really great work!!

I have a few questions.

-Does attention sort net work better or at par with the simple sort net.
-Does attention sort net work well for the sortcut variant also.
-How does the sortcut variant perform when compared to vanilla sparse sinkhorn attention.

It would be very helpful if you could share some plots/numbers from your experiments comparing the performance of the differe

[2020-05-11 19:22] jsmith1915 opened #19 "Sortcut variant and bucket size"
From the paper it looks to me that for the sortcut variant, the queries are allowed to attend to all the key buckets post truncation for the non-causal case. If this is correct, won't the output be the same no matter what the bucket size is for the query.

Based on my understanding of the paper, the authors only report results selecting 2 top key/value blocks with bucket sizes 8,16,32. They do not

[2020-05-12 11:28] jsmith1915 commented on #19
Is allowing different bucket size for q and k_v enabled to ensure that memory and computation is not wasted by repeating the truncated sequence again and again for each query bucket.

So is setting bucket_size to max_seq_len and kv_bucket_size to the actual bucket size we want, the correct way of using the sortcut variant?

[2020-05-15 00:19] lucidrains commented on #19
@jsmith1915 that is correct! the query bucket size will not matter in the sortcut variant

Much of the difference from the paper is my own exploration into making this architecture work for my own practical use cases.

I worried that datasets with high variability in sequence lengths would lead to poor generalization of the sorting heads, if the bucket size was not clamped between a min/max window

[2020-05-15 00:24] lucidrains commented on #18
@jsmith1915 thanks! in my toy tasks in the examples, I have found that the attention variant performs on par with the simple sorting network, but not any better in terms of accuracy.

However, importantly, the attention sort net allows me to solve a problem where the sorting net is unable to generalize outside of the sequence length it is trained on. (the original sorting net consists of a linear

[2020-05-15 02:09] lucidrains commented on #15
@py4 just wanted to let you know, in my most recent commit, I have fixed some underlying issues with the framework, and it should learn your task very well now, with one head!

[2020-05-15 09:58] epetros opened #20 "Size mismatch error when loading saved weights"
Greetings,
I used to save and load weights and optimizer for continue training with no problem, but today am facing the following error when trying to load:

RuntimeError: Error(s) in loading state_dict for AutoregressiveWrapper:
	size mismatch for net.net.sinkhorn_transformer.fn.layers.blocks.0.f.net.fn.sinkhorn_attention.sort_net.linear: copying a param with shape torch.Size([1, 4, 128, 33]) fro

[2020-05-15 14:42] jsmith1915 commented on #19
Got it. For the simple sort net I see that you apply the sorting operation on a bucketed sequence with the key and query vector concatenated.

In the paper didn't they learn the sorting on the bucketed input sequence to the attention layer before the q, k, v transformation, thus limiting their method only to self attention.

Did you introduce concatenating key and query vectors to extend the metho

[2020-05-15 14:47] jsmith1915 commented on #18
The attention sortnet is a very interesting improvement! Does replacing the Sinkhorn iterations with the softmax work well even with the simple sort net?

[2020-05-15 15:39] lucidrains commented on #20
Oh no, yeah, there had been architecture changes in the recent version update. Did you upgrade to the latest version? You may have to downgrade back to what you had before

[2020-05-15 15:49] lucidrains commented on #19
Yes! That was exactly my line of thinking

[2020-05-15 15:54] lucidrains commented on #18
Yea, I was actually surprised that it does! It doesn't guarantee a permutative sorting matrix, but I found that it didn't matter. The algorithmic sort task the author was tackling in the paper probably benefitted the most from Sinkhorn, but in my use cases, a softmax actually worked fine. Count me surprised!

[2020-05-15 16:07] lucidrains commented on #18
I have also found occasionally instability when training with Sinkhorn, and switching to the softmax made it less frequent

[2020-05-15 18:05] epetros commented on #20
Ok, thanks.

[2020-05-15 18:06] #20 closed, assigned to nobody

[2020-05-15 18:24] jsmith1915 commented on #19
If the query length is much smaller than key length, isn't it possible then that the SimpleSortNet followed by reordering would result in only one key bucket. For example, if the key sequence is 10 times longer than the query sequence, and the key sequence is bucketed into 10 buckets this happens.

Then if n_sortcut is greater than 1, wouldn't https://github.com/lucidrains/sinkhorn-transformer/blo

[2020-05-15 18:30] jsmith1915 commented on #18
Interesting results! From your experiments, did you observe any reduction in the instability when sortcut was used?

[2020-05-15 18:41] lucidrains commented on #19
1. you are correct, and I have also addressed that with some engineering. in the latest version upgrade, I have enabled the feature to be able to sort multiple key/value buckets to a single query bucket. this was needed both for greater training stability and the flaw that you noted. the hyperparameter is `n_top_buckets` and defaults to 2

2. the tokens are shifted to the 2nd dimension `bsz * self

[2020-05-15 18:47] lucidrains commented on #18
@jsmith1915 Yes, I think so actually. One of my theories is that the instability comes from abrupt transitions in the chosen key/value buckets during sorting. My recent change of allowing to sort multiple buckets to one query bucket was to address this.

[2020-05-15 20:02] lucidrains commented on #19
@jsmith1915 I updated L452 to be a bit more clear

[2020-05-15 21:54] jsmith1915 commented on #19
Isn't the n_top_buckets feaure applicable only to the non-permutative case? If Sinkhorn iterations are used, won't this issue will still persist.

[2020-05-15 21:55] jsmith1915 commented on #18
Thanks for the details!

[2020-05-15 21:55] #18 closed, assigned to nobody

[2020-05-15 22:23] lucidrains commented on #19
@jsmith1915 I don't think Sinkhorn works at all with contextual key/values. It can only work in self-attention encoder scenarios where the keys and queries are divided into equal number of buckets. The only alternative the paper offered is to use the sortcut method. That's why I moved away and devised the attention solution instead.

[2020-05-15 22:43] jsmith1915 commented on #19
Yes, I also think that might be the case. For the case where query sequence is multiple of the key sequence, repeating the queries for each key block might be a reasonable approach as the sorting is learned.

Have you tested the Sinkhorn attention with contextual key/values when the query and key sequences are of the same length.

[2020-05-15 22:53] lucidrains commented on #19
@jsmith1915 I think it wouldn't even make sense. In the paper, the simple linear sort net only takes in information about the keys. If you feed it the contextual keys, how would it know anything about the query to make a judgement about the alignment? (Unless if the task is simple enough that the alignment can be inferred easily)

[2020-05-15 22:55] lucidrains commented on #19
@jsmith1915 I have a feeling the author went with the Sinkhorn method because the permutative constraints matched the algorithmic sort task they were working on. My intuition tells me that the constraint doesn't generalize to all problems

[2020-05-15 22:59] lucidrains commented on #19
@jsmith1915 The most useful trick I learned from this paper turned out not to be Sinkhorn, but that differentiable reordering works very well in practice, as long as you have some way of generating the sorting matrix R

[2020-05-15 23:00] lucidrains commented on #19
@jsmith1915 However, I will keep the gumbel Sinkhorn feature alive as long as this repository evolves, since it was the main expose of the paper

[2020-05-15 23:01] lucidrains commented on #19
@jsmith1915 Using Sinkhorn to rank the buckets of key/values (sortcut) may also be replaced with a better method https://arxiv.org/abs/2002.08871 down the road

[2020-05-15 23:15] lucidrains commented on #19
@jsmith1915 I fired off too many comments in a row lol

[2020-05-16 21:31] #19 closed, assigned to nobody

[2020-05-18 06:05] NaxAlpha opened #21 "Training crashes due to inplace operation"
Hi there,
I am trying to train this model on my custom dataset and training starts but after many iterations, training crashes due to this error:
[code]
After enabling anomaly detection, here is the error:
[code]
Traceback is not useful as it only shows error at line `loss.backward()` and `torch.autograd` module. Can you help me where the issue might be?

Thanks

[2020-05-18 06:47] lucidrains commented on #21
@NaxAlpha Hi Nauman! What kind of net are you training your dataset on? Is it by chance a causal one?

[2020-05-18 07:01] NaxAlpha commented on #21
Yeah I am using causal model and training using `AutoregressiveWrapper` with `randomly_truncate_sequence=True` and here is model config for `SinkhornTransformerLM`:
[code]

[2020-05-18 15:13] lucidrains commented on #21
@NaxAlpha I'll get a potential fix out today!

[2020-05-18 15:43] lucidrains commented on #21
@NaxAlpha Can you try upgrading to 0.7.6 and retry training again? The latest commit hopefully fixes things :)

[2020-05-19 10:16] NaxAlpha commented on #21
Thanks a lot. It's working now!!

[2020-05-19 10:16] #21 closed, assigned to nobody

[2020-05-19 16:12] lucidrains commented on #21
Woohoo!

[2020-05-28 02:07] lucidrains commented on #15
@py4 I have implemented a new architecture that I have found to work decently well compared to Reformer and Sinkhorn. You can try it at https://github.com/lucidrains/routing-transformer if you wish

[2020-05-31 07:40] w4-magnes opened #22 "several question about implementation"
I am currently trying to implement Sparse Sinkhorn attention (non-causal, self-attention, pretrain for MLM task) with tensorflow and I would appreciate it if you could answer several questions about your code.

1. I did not quite understand from the paper what is happening with queries and keys in SortCut, when we cut off most of the blocks.
In your code it seems like you broadcast keys/queries li

[2020-05-31 19:21] lucidrains commented on #22
@w4-magnes Hi! It is good to hear from you, and glad to know there's someone else looking at this.

1. the memory consumption stays linear with respect to the sequence length if `block_len` is held constant. `(seq_len * n_sortcut * block_len)` The way I did the expanding and concatenation is to fall in line with the non-sort-cut method, and perhaps lead to the confusion. You can simply have the fu

[2020-05-31 20:08] Sharut commented on #22
Hi,
Thanks for the response to @w4-magnes comments. These responses definitely help to understand the code better.
Please excuse me for this basic query, But I don't seem to understand the dimensions of the vectors well in your code. Can you please add some sort of a documentation explaining what are the input shapes that the code expects or maybe explain it here. Also, according to my understandi

[2020-05-31 20:24] lucidrains commented on #22
@Sharut Hello! You are correct with your assumption in the first paragraph.

1. can you point me to where this variable is used? (size_per_head)

2. the maximum buckets is needed because the sorting net proposed in the paper is a simple linear layer, with weight matrix dimensions `embed_dimension x N_buckets`, where N_buckets is the maximum number of buckets

[2020-05-31 20:30] Sharut commented on #22
Hi,
Thanks for the prompt response:
1. size_per_head is referred by @w4-magnes. I got confused about this since in the code, you expect query(q) to have a dimension ( bh, t, dim) where h is the number of heads. What is b here? Is it the bucket index??? I don't think this is the case since after bucketing, the output dimension of q = (bh, bucket_index, length_bucket, dim) and there is no bucketing

[2020-05-31 20:43] lucidrains commented on #22
@Sharut

1. Ahh, I see where the confusion is. `b` actually stands for the batch dimension. The bucketing dimension is the second one

2. Yup, max number of buckets is the same as `n_buckets`. Max number of buckets does not account for variable-lengthed buckets for query and key, and neither was this addressed in the paper. This is why I improvised a new solution, to allow for variable number of b

[2020-05-31 20:47] Sharut commented on #22
Ohhhhhhh...
Thanks a ton! I just confused with the dimension terminologies.
Ahh right. Gotcha!
Once again, Thank you so much for your prompt responses and assistance.

[2020-05-31 21:12] lucidrains commented on #22
@Sharut no problem! glad to share what I know and good luck in your studies on this remarkable phenomenon!

[2020-06-02 14:35] #22 closed, assigned to nobody

[2020-06-08 02:14] w4-magnes commented on #22
@lucidrains, thank you for your answers!
I compared the input sequence (as in paper?) and concat(q,k) (as in your code) as an input to SortNet. Mask accuracies are about the same, but for a downstream task using concat(q,k) is a bit better.

1. Is there any particular reason why you did not use concat(q,k,v) as input for SortNet?

2. I see that in your code in the gumbel_sinkhorn function you have

[2020-06-08 02:16] w4-magnes commented on #22
@Sharut I used `size_per_head` to denote `hidden_size // num_attention_heads`.

[2020-06-22 08:11] ilya16 opened #23 "Positional Embedding"
Hi! Found out that `SinkhornTransformerLM` uses two positional encodings simultaneously:

https://github.com/lucidrains/sinkhorn-transformer/blob/2b65e24085562a4e308251398007e2ca9b86d7cc/sinkhorn_transformer/sinkhorn_transformer.py#L778-L779

https://github.com/lucidrains/sinkhorn-transformer/blob/2b65e24085562a4e308251398007e2ca9b86d7cc/sinkhorn_transformer/sinkhorn_transformer.py#L792-L793

I gu

[2020-06-22 18:44] lucidrains commented on #23
@ilya16 I had originally added the axial positional embedding because the attention sorting network functioned best with it as opposed to only with absolute. You are right, I believe axial is good enough that the absolute pos embedding won't be needed at all, I'll remove it!

[2020-06-22 18:47] lucidrains commented on #23
@ilya16  done!

[2020-06-22 18:48] lucidrains commented on #23
@ilya16 how has this variant of attention work out for your projects?

[2020-06-23 07:58] ilya16 commented on #23
@lucidrains you are welcome!

About the model. Sinkhorn Transformer converges faster than Reformer to similar results. Right now I am also playing around with your other Transformer implementations :D

[2020-06-23 07:58] #23 closed, assigned to nobody

[2020-09-13 20:15] tatp22 opened #25 "Some questions about dropout"
Hi again @lucidrains, I just had some quick questions about dropout with the Sinkhorn Transformer, as I was just using my Linformer implementation (which as you know is based off of this repo), but it was overfitting my dataset. Therefore, I just had some quick questions about some dropout and your implementation, and I wanted to ask whether some design choices here were intentional or not:

1. In

[2020-09-15 20:21] lucidrains commented on #25
@tatp22 Hey Peter! I followed most of the dropouts from the annotated transformer example from https://nlp.seas.harvard.edu/2018/04/03/attention.html You are right, I have also encountered dropout post embedding. However, I think given GPT3 and the findings of double descent curve, I think the most effective way to counter overfitting is still more data, pretraining, and a larger model.

Do let me

[2020-09-15 20:25] lucidrains commented on #25
@tatp22 Any new follow ups with Linformer? The authors told me they were planning an auto-regressive version. Does it work well for your problems?

[2020-09-16 10:30] tatp22 commented on #25
Yeah, that may be the case. I think that simply adding more parameters and more data is probably the way to go, since I really couldn't find anything else wrong with my Linformer...

And no, there aren't really any updates from my end on the Linformer. Maybe when there's an autoregressive version, I will implement that, but for now, I really don't see what else I could add to it, other than what's

[2020-09-16 17:09] lucidrains commented on #25
@tatp22 Thanks for letting me know! What sequence lengths are you working at? (There hasn't been much data on Linformer on lengths greater than 4096, so any additional datapoint is appreciated)

[2020-09-16 20:04] tatp22 commented on #25
@lucidrains Right now, I'm only working on seq lengths of 2048, and I am planning to scale it to 8096 soonish. To be honest, I did try a (practical) sequence length of 250k+ (with a k of 150), and it did end up competing with baselines, but I am not pursuing these experiments further atm.

From what I have experienced though, practically, the Linformer works very well (with respect to the standard

[2020-09-16 22:24] lucidrains commented on #25
@tatp22 Nice! Thank you for sharing your experience :)

[2020-09-17 16:48] #25 closed, assigned to nobody

[2021-03-07 23:46] asigalov61 opened #26 "No module named 'local_attention'"
Hey @lucidrains

I was trying to run the simple wiki8 example in Google Colab and it failed on me with this:

Do I have to import something extra? Can you help, please?

Thanks.

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-3-1d58adc9a395> in <module>()
----> 1 from sinkhorn_tr

[2021-03-18 03:39] lucidrains commented on #26
@asigalov61 oh crap! fixed in 0.11.3 🙏 https://github.com/lucidrains/sinkhorn-transformer/commit/76de0f4a48f804058efbb80d8f4f8a8630a4fa0b

[2021-03-18 06:44] asigalov61 commented on #26
@lucidrains Thanks a lot, bro! :) I will test and let you know of any issues if any. Thanks.

[2021-03-18 15:49] #26 closed, assigned to nobody

[2021-03-18 18:20] asigalov61 opened #27 "A noobish question about training..."
@lucidrains

First of all, everything seems to be working now in Google Colab so thank you very much for fixing it.

I have a quick question about training if you do not mind...

I get very high loss results. Here is the example:

training:   1%|          | 509/100000 [1:55:22<387:23:57, 14.02s/it]training loss: 2.495532512664795

Is this normal and I simply need to train more? Or does it mean tha

[2021-03-18 22:01] lucidrains commented on #27
@asigalov61 ohh, but it shows you've only run 509 steps, even in 2 hours? that doesn't seem quite right

how big are your batch sizes?

[2021-03-19 01:20] asigalov61 commented on #27
Yes, I know 500 steps are nothing but the loss would not go down so I did not see the point to continue running it...

Here are the settings:

NUM_BATCHES = int(1e5)
BATCH_SIZE = 28
GRADIENT_ACCUMULATE_EVERY = 4
LEARNING_RATE = 1e-4
VALIDATE_EVERY  = 100
GENERATE_EVERY  = 500
GENERATE_LENGTH = 512
SEQ_LEN = 4096

I increased the batches so I was wondering if the LR or anything else needs to be adj

[2021-03-19 02:32] lucidrains commented on #27
ohhh, keep the batch size at 4, and the learning rate at `3e-4`, and just leave it on overnight! it'll descend

it's because you are reaching for a sequence length of 4096

[2021-03-19 02:45] asigalov61 commented on #27
@lucidrains Thank you so much for your advice! I appreciate it a lot and I will do exactly what you suggest. I also found a few bugs within my code so hopefully correcting these things will help it to work properly.

To be honest, I am a bit disappointed by the performance of these latest SOTA transformers... They are slow and complex while not offering many advantages over the older implementatio

[2021-03-19 02:50] lucidrains commented on #27
@asigalov61 yes, I mostly agree with you! the ones I would recommend are https://github.com/lucidrains/routing-transformer and Longformer, which huggingface already has in their repository. Microsoft also has a sparse attention cuda kernel that is quite good https://github.com/microsoft/DeepSpeed/blob/master/deepspeed/ops/sparse_attention/sparse_self_attention.py . Finally, on the cutting edge is

[2021-03-19 03:02] asigalov61 commented on #27
@lucidrains Yes, thank you again for your advice! Much appreciated.

I will try the Performer shortly and the Routing transformer as well. I know that its the latest and the greatest so to speak so def. worth a try...Its just I specialize in Music AI so not all implementations/approaches work well with music.

From my research and experience, I think I need something with sparse attention (thanks

[2021-03-19 06:02] asigalov61 commented on #27
@lucidrains Ok, so I think I got it to work in some capacity, but the loss is still pretty high for some reason. I did what you have suggested (4 batches/3-e4) but it did not help much. Perhaps I need to train longer as you have also suggested. However, I did get very good results with the Routing Transformer so I know that it is not a problem on my end IMHO.

I trained Routing and Sinkhorn for th

[2021-03-20 14:06] asigalov61 commented on #27
@lucidrains Re-training the Sinkhorn properly right now and will post results shortly.

[2021-03-20 17:31] asigalov61 commented on #27
@lucidrains Tried training again but results were about the same. Maybe I used way too many batches? But with 4 batches it would not go down at all...This was trained on music so maybe why...Not sure...

NUM_BATCHES = int(1e5)
BATCH_SIZE = 28
GRADIENT_ACCUMULATE_EVERY = 4
LEARNING_RATE = 3e-4
VALIDATE_EVERY  = 100
GENERATE_EVERY  = 500
GENERATE_LENGTH = 1024
SEQ_LEN = 4096

Trained for 3 hours to

[2021-07-13 08:10] soonchangAI opened #28 "Error with Autopadder"
Hi, I am facing a problem
import torch
from sinkhorn_transformer import SinkhornTransformer, Autopadder

model = Autopadder(SinkhornTransformer(
    dim = 64,
    heads = 1,
    depth = 1,
    bucket_size = 128))

x = torch.randn(10, 789, 64)
y = model(x)
print(y.shape)

Output Error : RuntimeError: shape '[10, 7, -1, 171]' is invalid for input of size 1349190

[2021-08-10 02:50] lucidrains commented on #28
@soon22 Hi Soon! Sorry for the late response, but I believe I have fixed this in https://github.com/lucidrains/sinkhorn-transformer/releases/tag/0.11.4

[2021-08-12 04:47] soonchangAI commented on #28
Thank you ! It works

[2021-08-12 04:47] #28 closed, assigned to nobody

[2021-08-18 06:53] #27 closed, assigned to nobody

[2022-01-06 01:06] halexan opened #29 "A wrapper of SinkhornTransformerEncDec"
Could your please  coded up a wrapper that removes a lot of the manual work in writing up a generic SinkhornTransformer encoder / decoder architecture.

Thanks a lot!
halexan